
/*
#admin-menu a {
  font-size: 16px;
  color: white;
  padding-left: 36px;
  cursor: pointer;
  text-decoration: none;
  display: flow-root;
  margin-bottom: 16px;
  border-left: 4px solid transparent;
}*/


/*
.nav-item:hover,
.active-admin {
  border-left: 4px solid #76a8d3 !important;
  border-radius: 2px !important;
  color: #76a8d3 !important;
}
*/

@media screen and (max-width: 991px) {
  
}
