.jumbotron {
  margin: -1rem;
  border-radius: 0;
  margin-bottom: 0 !important;
}

.h5 {
  height: 2.5rem;
}

.cover {
  margin: -1rem;
  background-image: url('src/images/background.png');
  background-size: cover !important;
  background-repeat: repeat;
  height: 80vh;
}

@media screen and (max-width: 900px) {
  .cover {
    height: 50vh;
  }
}

.cover h1 {
  color: #76a8d3;
}

.jumbotronWhite {
  background-color: white !important;
}

.jumbotronWhite h2 {
  color: #76a8d3;
  padding-bottom: 35px;
  text-align: center;
}

.jumbotronWhite p {
  color: #343a40;
}

.jumbotronBlue {
  background-color: #9dbdd8 !important;
}

.jumbotronBlue h2 {
  color: white;
  padding-bottom: 35px;
}

.jumbotronBlue p {
  color: white;
}

.price-list {
  margin-left: 20vw !important;
  margin-right: 20vw !important;
}

.card-text {
  color: #343a40;
}

.homePageHeader {
  background-color: #76a8d3 !important;
}

.homePageHeader h3 {
  color: white !important;
}

.homepageButton {
  color: white;
  padding: 9px 25px;
  background-color: #76a8d3 !important;
  border: 1px solid #76a8d3 !important;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  text-transform: uppercase;
}

.homepageButton:hover {
  background-color: white !important;
  border: 2px solid #76a8d3 !important;
  color: #76a8d3 !important;
}

.info {
  padding-top: 20%;
}

@media screen and (max-width: 1000px) {
  .info {
    padding-top: 0;
  }
}

.hover-shadow-sm:hover {
  box-shadow: 0 0.125rem 0.25rem rgba(118, 168, 211, 0.08) !important;
}

.hover-shadow:hover {
  box-shadow: 0 0 1.25rem rgba(118, 168, 211, 0.08) !important;
}

.hover-shadow-lg:hover {
  box-shadow: 0 1rem 3rem rgba(118, 168, 211, 0.225) !important;
}

.shadow-none,
.hover-shadow-none:hover {
  box-shadow: none !important;
}

#benefits {
  border: none;
}

.avatar {
  flex-shrink: 0;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.avatar.avatar-sm {
  width: 2.25rem;
  height: 2.25rem;
}

.avatar.avatar-lg {
  width: 4.5rem;
  height: 4.5rem;
}

@media (min-width: 992px) {
  .avatar.avatar-lg {
    width: 4.5rem;
    height: 4.5rem;
  }
}

.avatar-author {
  justify-content: initial !important;
}

.testimonial {
  color: #343a40 !important;
  font-size: x-large;
  font-style: italic;
}

#footer {
  background-color: #343a40;
  margin: -1rem;
  padding-top: 10px;
  padding-bottom: 10px;
}
footer a {
  font-size: smaller;
  color: white;
}

.cover-text {
  height: 100%;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10% 10%;
}

li::before {
  content: "•" !important;
  color: #76a8d3;
  display: inline-block;
  width: 1em;
  margin-left: -1em
}


