.btn {
  display: inline-block;
  margin-top: 6px;
  padding: 7px;
  position: relative;
  text-align: center;
  width: 124px;
  transition: background 600ms ease, color 600ms ease;
  color: #dfe2f1;
}
input[type='radio'].toggle {
  display: none;
}
input[type='radio'].toggle + label {
  cursor: pointer;
  min-width: 60px;
}
input[type='radio'].toggle + label:hover {
  background: none;
  color: #1a1a1a;
}
input[type='radio'].toggle + label:after {
  background: #1a1a1a;
  content: '';
  height: 100%;
  position: absolute;
  top: 0;
  transition: left 200ms cubic-bezier(0.77, 0, 0.175, 1);
  width: 100%;
  z-index: -1;
}
input[type='radio'].toggle.toggle-left + label {
  border-radius: 8px 0px 0px 8px;
  border: 2px solid #dfe2f1;
}
input[type='radio'].toggle.toggle-left + label:after {
  left: 100%;
}
input[type='radio'].toggle.toggle-right + label {
  margin-left: -2px;
  border: 2px solid #dfe2f1;
  border-radius: 0px 8px 8px 0px;
}
input[type='radio'].toggle.toggle-right + label:after {
  left: -100%;
}
input[type='radio'].toggle:checked + label {
  cursor: default;
  color: #fff;
  background-color: #435cd7;
  transition: color 200ms;
  border: 2px solid #dfe2f1;
}
input[type='radio'].toggle:checked + label:after {
  left: 0;
}
