.ticketCardHeaderGreen {
  background-color: #61d17b !important;
}

.ticketCardHeaderBlue {
  background-color: #9dbdd8 !important;
}

.ticketImageNoBorders {
  border-radius: 0 !important;
}
.badge{
  margin: 1.5em 0
}
.ticketCardMaxSize {
  max-width: 600px;
  width: 40vw !important;
  margin-bottom: 30px !important;
}
@media screen and (max-width: 900px) {
  .ticketCardMaxSize {
    width: 100% !important;
  }
}
.greenBorder {
  border: 3px solid rgb(40 167 69);
}

.blueBorder {
  border: 3px solid rgb(0 123 254);
}

.resolveTicketButton {
  color: white;
  width: 207px;
}

.addCommentButton {
  color: white;
  width: 207px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 3px !important;
}

.heart {
  width: 100px;
  height: 100px;
  background: url(https://cssanimation.rocks/images/posts/steps/heart.png)
    no-repeat 0 0;
  cursor: pointer;
}
.heart-activate {
  background-position: -2800px 0;
  transition: background 1s steps(28);
  animation: fave-heart 1s steps(28);
}
@keyframes fave-heart {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -2800px 0;
  }
}
.image-overflow-wrapper {
  width: 100%;
  overflow: hidden;
}

.heart-fill {
  background-position: -2800px 0;
  transition: background 0s steps(28);
}
