body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.center {
  text-align: center;
}

a:hover {
  text-decoration: none !important;
}

.col-lg-12{
  padding-left: 60px;
}
.col-lg-10{
  margin-left: -60px;
}
.startPageMarginTop{
  margin-top: 1rem;
}
.btn{
  margin:10px
}
/*START MENU*/
.navbar-nav .col{
  padding-left: 0!important;
}

/*menu top*/
.nav-item a {
  font-size: 16px;
  color: white;
  cursor: pointer;
  text-decoration: none;
  border-top: 4px solid transparent;
  margin-left: -15px !important
}

.nav-item a:hover {
  border-top: 4px solid #76a8d3;
  border-radius: 2px !important;
  color: #76a8d3 !important;
}
/*menu side*/
.col .nav-item a{
  border-top: 0!important;
  border-left: 4px solid transparent;
  margin-top: 2px !important;
  margin-left: 0!important;
  padding: 10px;
}
.col .nav-item a:hover {
  border-left: 4px solid #76a8d3;
  border-radius: 2px !important;
  color: #76a8d3 !important;
}
.col .nav-item{
  margin-right: -15px;
}

.submenu {
  text-transform: uppercase;
  border: 1px solid #76a8d3 !important;
  border-radius: 5px;
  padding: 6px 0;
  text-align: center;
  margin: 0 5px !important;
  font-size: 13px;
}

.name{
  margin-left: 15px!important;
  color: white;
}
.submenuButton {
  text-align: center;
  left: 4px;
  margin-top: 20px !important;
  background-color: #76a8d3;
  border-color: #76a8d3;
  z-index: 100;
  position: absolute;
  border: 1px solid #76a8d3 !important;
  border-radius: 5px;
}
.submenuButton:hover,  .submenuButton:active,.submenuButton:focus{
  background-color: #343a40 !important;
  color: #76a8d3 !important;
}
.active-admin {
  border-left: 4px solid #dfe2f1;
  border-radius: 2px;
}

#admin-menu {
  background-color: #343a40 !important;
  opacity: 0.95;
  color: white;
  letter-spacing: 0;
  min-height: 100vh;
  height: 100%;
  padding-top: 4rem !important;
  position: absolute;
}
.navButton {
  color: white;
  background-color: #76a8d3 !important;
  border: 1px solid #76a8d3 !important;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  text-transform: uppercase;
}

.navButton:hover{
  background-color: #343a40 !important;
  color: #76a8d3 !important;
}

.active_link {
  border-top: 4px solid #76a8d3!important;
}

.not-active {
  border: none;
}

.notVisible {
  visibility: collapse;
  font-size: 0;
  height: 33px;
  width: 40px;
}

.notVisibleText {
  display: none;
}
.side {
  display: block !important;
}
.top {
  display: none !important;
}

/*END MENU*/

/*LINK*/
.link {
  outline: none !important;
}

/* START TERMS OF SERVICE*/
.termsOfService ol {
  counter-reset: item;
}
.termsOfService li {
  display: block;
}
.termsOfService li:before {
  content: counters(item, '.') '. ';
  counter-increment: item;
  width: 1.5em;
  margin-left: -30px;
}
/* END TERMS OF SERVICE */

/*START COMMUNITY DETAIL TEMPLATE*/

.container-image {
  position: relative;
  text-align: center;
  color: white;
  height: 300px;
  overflow: hidden;
  margin-bottom: 1em
}

.container-image img {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  width: 100%;
}

.centered-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*END COMMUNITY DETAIL TEMPLATE*/

@media screen and (max-width: 1000px) {
  .container-header .row .col {
    text-align: center;
  }
  .container-header {
    margin-bottom: 5%;
  }

  
}
@media screen and (max-width: 900px) {
  /*START HEADING WITH BUTTONS*/
  .container-header div{
    margin: auto;
  }
  /*END HEADING WITH BUTTONS*/

  /*START TERMS OF SERVICE*/
  .termsOfService{
    margin-left: 10px;
    margin-right: 10px;
  }
  /*END TERMS OF SERVICE*/

  /*START MENU*/
  #admin-menu{
    padding-top: 0 !important;
    position: initial !important
  }
  .navButton{
    padding: 6px 36px;
    margin-left: 15px !important
  }
  .nav-item a{
    font-size: 16px;
    color: white;
    padding: 10px 0 10px 15px;
    cursor: pointer;
    text-decoration: none;
    display: flow-root;
    border-left: 4px solid transparent;
    border-top: 0 !important;
  }

  .nav-item a:hover, .active-admin, .active_link {
    border-top:0px !important;
    border-left: 4px solid #76a8d3 !important;
    border-radius: 2px !important;
    color: #76a8d3 !important;
  }
  .side {
    display: none !important;
  }
  .top {
    display: block !important;
  }
  .nav-item .top{
    display: inline !important;
  }
  /*END MENU*/

  /*START COMMUNITY DETAIL TEMPLATE*/
  .container-image {
    overflow: none;
    position: relative;
    text-align: center;
    color: black;
    height: unset;
    overflow: none;
  }
  .centered-image {
    position: relative;
    margin: 40px 0px;
    height: unset;
    transform: unset;
    top: unset;
    left: unset;
  }
  .container-image img {
    -webkit-filter: unset;
    -moz-filter: unset;
    -o-filter: unset;
    -ms-filter: unset;
    filter: unset;
    width: 100%;
  }
  /*END COMMUNITY DETAIL TEMPLATE*/
}
